{% extends 'bootstrap4.html.twig' %}

{% block body %}

<div class="container">
            
    
    <div class="row">
        
        <div class="col-sm-8">
        
            <h1>PDF-Pages</h1>
            
            
       
        </div>
        <div class="col-sm-4">
        
            <h2>File-Infos</h2>
            Datei-Name: {{ pdf_original_filename }}<br >
            Datei-Größe: {{ pdf_filesize }}
            
        </div>
        
    </div>
        
</div>
{% endblock %}


