{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex flex-column vh-100">
	<div class="container my-lg-5">

		<div class="d-flex justify-content-between">
			<h1>
				<a href="{{ url('index') }}" class="text-dark text-decoration-none">
					<i class="fas fa-file-pdf" aria-hidden="true"></i> Rearrange PDF</a>
			</h1>
			<span>
				<a href="https://github.com/bandemer/rearrangepdf" class="btn btn-secondary py-2">
					<i class="fab fa-github" aria-hidden="true"></i> {% trans %}View on GitHub{% endtrans %}</a>
			</span>
		</div>
		<hr>

		{%  if errors %}
		<div class="alert alert-danger" role="alert">
			<h2 class="h4">{% trans %}The requirements on the server are not met:{% endtrans %}</h2>
			<ul>
			{% for e in errors %}
				<li>{{ e }}</li>
			{% endfor %}
			</ul>
		</div>
		{% else %}

		<div class="bg-light border rounded p-4 p-lg-5">
			{% if app.session.flashBag.has('error') %}
			<div class="alert alert-danger" role="alert">
				{% for msg in app.session.flashBag.get('error') %}
					{{ msg }}
				{% endfor %}
			</div>
			{% endif %}
			<div class="row my-xl-5">
				<p>Choose a PDF file and click "Start":</p>
				<div class="col-12 col-lg-8 my-3">
					<input id="fileupload" type="file" class="form-control form-control-lg">
				</div>
				<div class="col-12 col-lg-4 my-3">
					<button id="fileuploadbutton" class="btn btn-primary btn-lg">Start</button>
				</div>
			</div>

		</div>
		{% endif %}
	</div>
	{% include 'default/footer.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}
<script>
	document.getElementById('fileuploadbutton').addEventListener('click', function() {
		if(document.getElementById('fileupload').files.length == 0) {
			alert('Error : No file selected');
			return;
		}

		let file = document.getElementById('fileupload').files[0];
		let allowed_mime_types = [ 'application/pdf' ];
		let allowed_size_mb = 8;

		if(allowed_mime_types.indexOf(file.type) == -1) {
			alert('Error : Incorrect file type ' + file.type);
			return;
		}

		if(file.size > allowed_size_mb*1024*1024) {
			alert('Error : Exceeded size');
			return;
		}

		let data = new FormData();
		data.append('file', document.getElementById('fileupload').files[0]);

		let request = new XMLHttpRequest();
		request.open('POST', '/upload/');

		// upload progress event
		request.upload.addEventListener('progress', function(e) {
			let percent_complete = Math.round((e.loaded / e.total) * 100);
			document.getElementById('fileuploadbutton').innerHTML =
					'<span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span><span role="status">Uploading... ' + percent_complete +' %</span>';
		});

		// start file processing
		request.addEventListener('load', function(e) {
			document.getElementById('fileuploadbutton').innerHTML =
					'<span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span><span role="status">Processing...</span>';

			fetch('/process/')
				.then((response) => {
					if (response.ok) {
						setTimeout("document.location = '/show/'", 3000);
					}
				});
		});
		request.send(data);
		document.getElementById('fileuploadbutton').disabled = true;
		document.getElementById('fileuploadbutton').innerHTML =
				'<span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span><span role="status">Uploading...</span>';
	});
</script>
{% endblock %}

