@CHARSET "UTF-8";
.container {
	padding-top:1rem;
}
.card {
	margin-top:1rem;
}
#sidebar {
	position:fixed;
}
.download {
	padding:1rem;	
}
.label {
	display:block;
	width:10rem;
}
.screenshot {
	margin-top:1rem;
}
.screenshot img {
	border:1px solid #E0E0E0;
}