
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

.container {
    padding-top:1rem;
}
.card {
    margin-top:1rem;
}
.download {
    padding:1rem;
}
.label {
    width:8rem;
}

.w-lg-75 {
    width: 100%;
}
@media (min-width: 992px) {
    .w-lg-75 {
        width: 75%;
    }
}


